@import url("https://fonts.googleapis.com/css?family=Lato:300");

.body-sinopse {
    background: rgba(0, 0, 0, 0.75) url('../images/breakingbad3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.sinopse-h2 {
    display: flex;
    justify-content: left;
    align-items: left;
}

.sinopse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.p1 {
    font-family: system-ui;
    font-size: 21px;
    color: #F8F8FF;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-family: serif;
    color: #FFD700;
}

.bg-notFound {
    background: rgba(0, 0, 0, 0.75) url('../images/404.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.bg-actors {
    background: rgba(0, 0, 0, 0.8) url('../images/breakingbad5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.bg-episodes {
    background: rgba(0, 0, 0, 0.8) url('../images/breakingbad4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.bg-quotes {
    background: rgba(0, 0, 0, 0.8) url('../images/breakingbad7.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.trailer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-border {
    --border-width: 3px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 562px;
    height: 318px;
    background: #222;
    border-radius: var(--border-width);
}

.animated-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.card {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-image{
    border-radius: 5px;
    width: 400px;
    height: 400px;
}

.actors-name {
    color: #F8F8FF;
    display: flex;
    justify-content: center;
    align-items: center;
}